@model IEnumerable<Whats_App_Web_Server.Models.Rate>

@{
    ViewData["Title"] = "Index";
}

<h1>Rates</h1>

<form asp-action=Index class="input-group mb-3">
    <input id="create" name="query" type="text" class="form control" placeholder="Search rate" aria-label="Search rate"/>
    <button class="btn-primary btn-outline-secondary" type="submit" value="search" id="button-addon2">Search</button>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.givenRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.givenRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
